@{
    ViewBag.Title = "Mise.  Everything in place";
}
<header>
    <div class="container">
        <br><br>
        <p><img src="../../images/stockboyAlone.png" style="height:55vh;"></p>
        <p><img src="../../images/stockboyBigText.png" style="width:60%;"></p>
        <h2>available for both ios and android!</h2>
        <br>
    </div>
</header>
<div class="signupform text-center">
    <h2 class="light">Subscribe to our mailing list for release news and special offers!</h2>
    <br>
    <div id="mc_embed_signup">
        <form action="//mise.us11.list-manage.com/subscribe/post?u=c49db67ef7b797ead42719669&amp;id=f40400eef4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="form-group">
                <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="text" value="" name="RESTAURANT" class="form-control input-lg" id="mce-RESTAURANT" placeholder="Restaurant Name">
            </div>
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_c49db67ef7b797ead42719669_f40400eef4" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning btn-lg">
        </form>
        <div class="clr"></div>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='RESTAURANT';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
<section>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-9">
                    <h1><strong>Your whole inventory in the palm of your hand</strong></h1>
                    <p class="lead" style="width:90%;">Stockboy’s intuitive, gesture-based interface makes counting quicker and more accurate—not to mention safer when you’re monkeying around on a ladder counting the top shelf or wrestling in the dark corners of your reach-in.</p>
                </div>
                <div class="col-md-3">
                    <img src="images/measurescreenshot.png" class="wide">
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background:#ecf0f1;position:relative;border-bottom:1px solid #bdc3c7">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../images/poscreenshot.png" class="wide">
                </div>
                <div class="col-md-8">
                    <h1><strong>An orderly way to do your orders</strong></h1>
                    <p class="lead">Stockboy doesn’t just know how much product you have or how much you need, but also where to get more. Stop burning time on the phone, typing emails, navigating vendors’ websites and instead generate purchase orders for each of your vendors in just one click. Just review the order and fire away. Multiple vendors with the same products? Vendors with oddball case breaks or other delivery requirements? Stockboy will sort it out with minimal impact on your budget and your storage.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-7">
                    <h1><strong>Front line reporting</strong></h1>
                    <p class="lead">Every bar and every operator is different and Stockboy knows that. Create and apply your own custom tags to inventory items to allow for 360 degrees of analytics.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../images/findipadss.png" class="wide">
                </div>
            </div>
        </div>
    </div>
</section>

