<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://misereporting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>misereporting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>misereporting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$misereporting</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureNonTypedEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jgn89q1a7b.database.windows.net,1433;Initial Catalog=stockboymobileservice_db;User ID=stockboyadmin@jgn89q1a7b;Password=honestGirl42" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MiseReporting.AzureNonTypedEntities, MiseReporting" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:jgn89q1a7b.database.windows.net,1433;Initial Catalog=stockboymobileservice_db;User ID=stockboyadmin@jgn89q1a7b;Password=honestGirl42" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MiseReporting.Models.ApplicationDbContext, MiseReporting" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureNonTypedEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jgn89q1a7b.database.windows.net,1433;Initial Catalog=stockboymobileservice_db;User ID=stockboyadmin@jgn89q1a7b;Password=honestGirl42</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jgn89q1a7b.database.windows.net,1433;Initial Catalog=stockboymobileservice_db;User ID=stockboyadmin@jgn89q1a7b;Password=honestGirl42</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>