<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="PCLCrypto" version="1.0.82" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.46" targetFramework="net45" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="net45" />
  <package id="SQLitePCL.raw_basic" version="0.8.2" targetFramework="net45" />
  <package id="Validation" version="2.2.8" targetFramework="net45" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="net45" />
</packages>