@font-face{font-family:'SFComicScriptShaded';src: url('../fonts/SFComicScriptShaded.woff') format('woff'),url('../fonts/SFComicScriptShaded.ttf') format('truetype');}
@font-face{font-family:'SFComicScriptBold';src: url('../fonts/SFComicScriptBold.woff') format('woff'),url('../fonts/SFComicScriptBold.ttf') format('truetype');}
@font-face{font-family:'SFComicScriptCondensed';src: url('../fonts/SFComicScriptCondensed.woff') format('woff'),url('../fonts/SFComicScriptCondensed.woff') format('truetype');}
body{margin-top:0px;font-family: 'Lato', sans-serif;}
header{display:block;width:100%;text-align:center;background:#b0836b;min-height:100vh;}
header h2{font-size:36px;font-family: "SFComicScriptCondensed", Fallback, Comic-Sans;color:#4B4c4e;background-color:#e0d6bd;border-radius:30px;text-shadow:0 1px 0 rgba(0,0,0,.1);}
.signupform{background:#54443D;padding:2%;color:#fff;}
.form-control{border-radius:2px!important;border:0px!important;}
.btn{border-radius:2px!important;}
.btn-warning{background:#B0836B;border:1px solid #B0836B;transition:0.5s all;}
.btn-warning:hover{background:#54443D;border:1px solid #B0836B;}
.clr{height:30px;}
.light{font-weight:100;}
section{padding:3%;background:white;}
h1 strong{font-weight:700;font-size:46px;}
.wide{width:100%;}
p.lead{font-size:26px;}