<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.40" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.40" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net452" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net45" />
</packages>