<div class="jumbotron">
    <h1>misePOS Restaurant Server</h1>
    <p class="lead">misePOS Restaurant Server allows all terminals and other clients in a restaurant to work together seamlessly</p>
    <p><a href="http://misepos.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Contact <a href="mailto:info@misepos.com">info@misepos.com</a> to become a partner and develop amazing clients using this API</p>
    </div>
</div>
