@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("List All Restaurants", "Index", "Restaurant")<br/>
    @Html.ActionLink("Employees", "Index", "Employee")<br/>

    @Html.ActionLink("List My Restaurants", "IndexForUser", "Restaurant")
</div>

<div class="row">

</div>