@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("List All Restaurants", "Index", "Restaurant")<br/>
    @Html.ActionLink("Employees", "Index", "Employee")
</div>

<div class="row">

</div>