<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Client.Pcl" version="4.0.34" targetFramework="MonoAndroid42" />
  <package id="ServiceStack.Interfaces" version="4.0.34" targetFramework="MonoAndroid42" />
  <package id="ServiceStack.Text.Pcl" version="4.0.34" targetFramework="MonoAndroid42" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid42" />
  <package id="Xamarin.Insights" version="1.8.3" targetFramework="MonoAndroid42" />
</packages>